a { color: inherit; } 
a:hover { color: inherit;text-decoration:inherit } 
.insidediv {
    border: 15px solid #ddd;
    height: 696px;
    margin: 15px;
    width: 98%;
}
.login_left 
{
    text-align: right;
}
.login_left_img
{
	margin-top:70px;
}
.login_right 
{
    text-align:center;
}
.login_logo {
    height: 120px;
    margin-top: 74px;
}
.custom_login_feild 
{
	background: white !important;
    border: 0;
	border-bottom:3px solid #ccc;
    font-family: trebuchet ms;
    height: 43px;
    margin-top: 28px;
    width: 85%;
	padding-left:36px;
}
.custom_login_button {
    background: white none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: trebuchet ms;
    font-size: 19px;
    font-weight: normal;
    height: 55px;
    margin-top: 20px;
    width: 25%;
}
.custom_login_button:hover
{
	background:#D9534F;
	color:white;
}



/* admin header page style */
.top_header
{
	background:#002856;
	height:100px;
}
.bottom_footer
{
	background:#002856;
	height:80px;
}
.center_container {
    padding: 0;
}
.right_content 
{
    background: #eee none repeat scroll 0 0;
    min-height: 600px;
}
.headertoplogo 
{
    height: 96px;
    margin-left: 20px;
    margin-top: 3px;
}
.headeradminname {
    color: white;
    float: right;
    font-family: trebuchet ms;
    font-size: 21px;
    margin-right: 23px;
    margin-top: 32px;
	cursor:pointer;
}
#welcome
{
	font-size:17px !important;
}
.floatingmenu {
    background: White none repeat scroll 0 0;
    border: 1px solid #ccc;
    box-shadow: 0 0 3px #ccc;
    display: none;
    padding: 12px 4px 0 3px;
    position: absolute;
    right: 22px;
    top: 69px;
    z-index: 999;
}
.floatingmenuitem {
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    color: #666;
    font-weight: bold;
    padding: 5px 70px 6px 11px;
}
.floatingmenuitem:hover
{
    color: #fff;
    background:#b91f1f;
	cursor:pointer;
}
.left_nav
{
	padding:0;
}
.leftmenuitems {
    font-family: trebuchet ms;
    font-size: 16px;
    list-style: outside none none;
    margin-bottom: 5px;
    padding: 10px 35px;
	transition:all 0.5s ease;
}
.leftmenuitems:hover
{
	background:#b91f1f;
	color:white;
	cursor:pointer;
}
.leftmenuitemsactive
{
	background:#b91f1f;
	color:white;
	cursor:pointer;
}
.menuitemicons {
    height: 25px;
    margin-right: 5px;
}




.copyright {
    color: white;
    float: left;
    margin-left: 50px;
    margin-top: 34px;
}
.movetotop {
    border: 2px solid #fff;
    border-radius: 3px;
    color: white;
    float: right;
    margin-right: 51px;
    margin-top: 19px;
    padding: 6px 15px;
	cursor:pointer;
}






.ordercounttop {
    background: white none repeat scroll 0 0;
    border-radius: 5px;
    margin-top: 30px;
}
.ordercounttopimg
{
	float:left;
	margin:20px 0;
}
.ordernumber {
    float: left;
    font-family: trebuchet ms;
    font-size: 18px;
    margin-left: 17px;
    margin-top: 8px;
}
.rednumber {
    color: #b91f1f;
    font-size: 25px;
}
.newcustomreq {
    font-family: Trebuchet MS;
    font-size: 27px;
}
.show {
    font-family: trebuchet ms;
    font-size: 19px;
    padding-left: 54px;
    text-align: left;
}
.showfeild {
    border: 1px solid #ccc;
    height: 35px;
    margin-left: 45%;
    margin-top: -7%;
    padding-left: 10px;
    position: absolute;
    width: 89px;
}
.processing {
    color: #ff6600;
    font-size: 17px;
}
.completed {
    color: #177f75;
    font-size: 17px;
}
.searchhere {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: trebuchet ms;
    margin-right: 49%;
    margin-top: -20%;
    padding: 6px 15px;
    position: static;
}
.exportbtn {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #177f75;
    font-family: trebuchet ms;
    font-weight: bold;
    height: 35px;
    padding-left: 30px;
}
.faexcel
{
    color: #177f75;
    font-size: 22px !important;
    margin-top: 6px;
    position: absolute;
    right: 131px;
}
#example {
    background: white none repeat scroll 0 0;
}
#dynamic_table {
    margin-top: 20px;
}
th
{
	text-align:center;
}
td
{
	font-family: trebuchet ms;
    font-size: 17px;
    font-weight: normal;
    text-align: center;
}

.customerdetail {
    background: #fff none repeat scroll 0 0;
    padding-bottom: 15px;
    margin: 30px 5px;
}
.menus {
    border: 1px solid #ccc;
    margin-top: 15px;
	padding:0;
}
.menuitems {
    border-right: 1px solid #ccc;
    cursor: pointer;
    font-family: trebuchet ms;
    font-size: 19px;
    padding: 15px 0;
    text-align: center;
}
.cust_info_parent {
    border: 1px solid #ccc;
}
.cust_info {
    font-family: trebuchet ms;
    font-size: 22px;
    margin: 35px 5px;
}
.customerorders {
    border: 1px solid #ccc;
}
.surveydetail
{
	border: 1px solid #ccc;
}
.menuitemsactive {
    background:#002856;
	color:white;
}
.delicon
{
	height:30px;
	cursor:pointer;
}
.customsavebtn 
{
    font-family: trebuchet ms;
    font-size: 17px;
}
#prod_name {
    font-family: trebuchet ms;
    font-size: 19px;
    margin-left: 6px;
}
.fabname {
    border: 1px solid;
    font-weight: bold;
    padding: 7px;
	color:#333;
}
.fabimage {
    height: 30px;
    margin-left: 5px;
}
.fabparent
{
	color: #888;
    font-size: 17px;
    font-weight: bold;
    padding: 6px;
	font-family: trebuchet ms;
	margin:20px 0;
}
.originparent
{
	color: #888;
    font-size: 17px;
    font-weight: bold;
    padding: 6px;
	text-align:center;
	font-family: trebuchet ms;
	margin:20px 0;
}
#prod_image {
    margin-top: 20px;
    width: 430px;
}
.suggestion {
    border: 1px solid #ccc;
    height: 132px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.activesugg {
    border: 5px solid #ff6600;
}
.submenu {
    background: #fff none repeat scroll 0 0;
    list-style: outside none none;
    margin-top: 10px;
    padding: 0;
    width: 100%;
	display:none;
}
.submenuitems {
    color: #000;
    height: 50px;
    line-height: 50px;
    margin-top: 0;
    padding-left: 57px;
	transition:all 0.5s ease; 
}
.submenuitems:hover 
{
	background:#B91F1F;
	color:#fff;
	cursor:pointer;
}
.submenuactive
{
	background:#B91F1F;
	color:#fff;
	font-weight:bold;
}
#plusicon {
    float: right;
    margin-top: 7px;
}
.show_error {
    font-family: trebuchet ms;
    font-size: 26px;
    margin-left: 38%;
    margin-top: 56px;
    position: absolute;
}
.addcatbtn {
    background: #002856 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    color: white;
    font-family: trebuchet ms;
    font-weight: bold;
    height: 34px;
    margin-top: 30px;
    width: 256px;
}
.addeditrow {
    font-family: trebuchet ms;
    font-size: 19px;
}
.fab_image {
    border: 1px solid #000;
    height: 40px;
    margin-top: -2px;
    width: 49px;
}
.customaddstockbtn {
    background: #002856 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 5px;
    color: white;
    font-family: trebuchet ms;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 30px;
}
.loader{
    margin-left: 3%;
    display:none;
    margin-top: 15px;
}
.btn-container{
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: row; /* Safari */
    flex-direction:         row;
    align-items: center;
    justify-content: center;
    /*margin-top: 5px;*/

}

/*
 loader code here..
*/
.custom_loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: sp2s in linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/*
end here
*/


/*
alert message here
*/

.alert {
    padding: 20px;
    color: white;
    opacity: 0;
    transition: opacity 0.6s;
    top:0;
    right: 0;
    position: absolute;
    margin: 5px;

}

.success {background-color: #4CAF50;}
.info {background-color: #2196F3;}
.warning {background-color: #ff9800;}
.error {background-color: red;}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;

}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 56%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #001834;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #001834;
    color: white;
}


/*
snack bar code
*/

#snackbar {
    visibility: visible;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}


.errorr{
    display: none;
    color: whitesmoke;
}