.cat-style{
    list-style: none;
}
.cat-container{
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: row; /* Safari */
    flex-direction:         row;
    align-items: flex-start;
    -webkit-align-items: flex-start; /* Safari */

}
.order-container{
    min-height: 550px;
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
}
ul li ul {
    display: none;
}

