.page-container{
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: row; /* Safari */
    flex-direction:         row;
    align-items: flex-start;
    -webkit-align-items: flex-start; /* Safari */
    padding: 10px;
    background: #ffffff;
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    height: 550px;


}

.page-container .order-container{
    border: 1px lightgrey solid;
    width: 100%;
    height: 100%;
}

.page-header {
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: row; /* Safari */
    flex-direction:         row;
    align-items: flex-start;
    -webkit-align-items: flex-start; /* Safari */
     margin: 1%;
    border-bottom: 1px #eeeeee solid;


}
.page-left-header{
    align-items: flex-start;
    background: #eeeeee none repeat scroll 0 0;
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: auto;
    border-radius: 6px;
}

.page-right-header{
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: row; /* Safari */
    flex-direction:         row;
    align-items: flex-start;
    -webkit-align-items: flex-start; /* Safari */
    margin-left: auto;
}

  .item{
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: column; /* Safari */
    flex-direction:         column;
    align-items: flex-start;
    -webkit-align-items: flex-start; /* Safari */
    order: 1;

}
.item-text{
    margin-left: 15px;
    font-size: 17px;
    font-weight: bolder;
}

.item-image{
    order: 0;
}

.completed{
    color: #177f75;
}
.process{
    color: #ff6600;
}
.ship{
    color:#000000;
}
.cancel{
    color:red;
}


.table-responsive{
    padding: 8px;
}
