.page-container {

    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: row; /* Safari */
    flex-direction:         row;
    align-items: flex-start;
    -webkit-align-items: flex-start; /* Safari */
    padding: 10px;
    background: #ffffff;
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;


}
.page-container .order-container{
    border: 1px lightgrey solid;
    width: 100%;
}
.order-container .order-header{
    border-bottom: 3px lightgray solid;
    -webkit-align-items: flex-start; /* Safari */
    width:100%
}
.order-header .order-title{
    width:15%;
    height:50px;
    align-items: center;
    justify-content: center;
    background-color: #002856;
    color: whitesmoke;
    font-weight: bolder;
    display: flex;
}
.order-number {
    color: dimgrey;
    font-size: 15px;
    padding: 10px;
    justify-content: center;
    margin-left: 2%;
    margin-top: 3%;
    font-weight: bolder;
}
.order-items{
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: column; /* Safari */
    flex-direction:         column;
    align-items: flex-start;
    margin-left: 30px;
    margin-right: 2%;


}
.order-item-detail{
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: row; /* Safari */
    flex-direction:         row;
    align-items: flex-start;
    border-top: 1px lightgray solid;
    width:100%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.order-item-detail .item0{
    order: 0;
    width: 20%;
    margin-right: 20%;
    color: black;


}
.order-item-detail .item1{
    order: 0;
    margin-right: 5%;
    color: black;
    justify-content: flex-start;
}
.order-bottom{
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: column; /* Safari */
    flex-direction:         column;
    align-items: flex-end;
    width: 90%;
}
.order-total {
    color: green;
    font-size: 27px;
}